
/* Header styles */
.header {
  width: 100%;
  height: 75px;
  background-color: var(--color-foreground);
  color: var(--color-gold);
  position: relative;
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  & .header__grid {
    display: flex;
    gap: 2.75rem;
    @media screen and (max-width: 1400px) {
      justify-content: center;
    }
    &.active {
      & .header__navigation {
        height: calc(100vh - var(--header-height));
        overflow-y: auto;
      }
      & .header__menu-button span {
        background-color: transparent;
        &::before {
          transform: translateY(8px) rotate(45deg);
        }
        &::after {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }

  & .header__logo {
    width: 145px;
    height: auto;
    margin-top: 12px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
  }

  & .header__navigation {
    margin-top: 1.5rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-family: var(--font-heading);
    font-size: var(--text-sm);
    font-style: normal;
    font-weight: 850;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    @media screen and (max-width: 1500px) {
      gap: 0.5rem;
    }
    @media screen and (max-width: 1400px) {
      position: absolute;
      top: 75px;
      left: 0;
      right: 0;
      height: 0;
      background-color: var(--color-foreground);
      margin-top: 0;
      border-top: 1px solid var(--color-gold-dark);
      flex-direction: column;
      padding: 0 20px;
      overflow: hidden;
      transition: height var(--transition-in-out-cubic);
    }

    & .header__navigation_item {
      @media screen and (max-width: 1400px) {
        border-bottom: 1px solid var(--color-gold-dark);
        @media screen and (max-width: 1400px) {
          border-bottom: none;
        }
        &:first-child {
          margin-top: 60px;
        }
        &:last-child {
          margin-bottom: 20px;
        }
      }
      & > a {
        display: inline-block;
        padding: 0.75rem 0.625rem;
        transition: color var(--transition-base);
        @media (hover: hover) {
          &:hover {
            color: var(--color-blood);
          }
        }
        @media screen and (max-width: 1400px) {
          display: flex;
          justify-content: space-between;
        }
      }
      &.settings-mobile {
        display: none;
        @media screen and (max-width: 1400px) {
          display: block;
        }
      }

      &.lng-mobile {
        display: none;
        & > a > span {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          img {
            margin-top: -1px;
          }          
        }
        @media screen and (max-width: 1400px) {
          display: block;
        }
      }

      &:hover {
        @media screen and (min-width: 1401px) {
          & .sub-menu {
            grid-template-rows: 1fr;
          }
        }        
      }

      &.collapsed {
        @media screen and (max-width: 1400px) {
          & .sub-menu {
            position: static;
            grid-template-rows: 1fr;
          }
        }        
      }
      

      & .sub-menu {
        position: absolute;
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows var(--transition-in-out-cubic);
        @media screen and (max-width: 1400px) {
          position: static;            
        }
        & .sub-menu__wrapper {
          min-height: 0;
        }
        & .sub-menu__list {
          margin: 10px 0 0 0;
          padding: 20px 16px;          
          background-color: var(--color-foreground);
          border: 1px solid var(--color-gold-dark);
          border-radius: 0 0 0.5rem 0.5rem;
          position: relative;                    
          &::before {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            background-color: var(--color-foreground);
            position: absolute;
            top: -6px;
            left: 60px;
            transform: translate(0, 0) rotate(45deg);
            border-bottom: 1px solid var(--color-gold-dark);
            border-right: 1px solid var(--color-gold-dark);
            @media screen and (max-width: 1400px) {
              display: none;
            }
          }
          & .sub-menu__item {
            & > a {
              display: flex;
              padding: 0 10px;
              line-height: 2.5rem;
              transition: color var(--transition-base);
              &:hover {
                color: var(--color-blood);
              }
            }
          }
        }
        &.hero-sub-menu {
          left: 0;
          right: 0;
          & .sub-menu__list {
            &::before {
              display: none;
            }
            & > ul {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              max-width: 1680px;
              margin: 0 auto;
              @media screen and (max-width: 1400px) {
                display: block;
                margin: 0;
                padding: 0;
              }
            }            
          }
          & .sub-menu__item {
            margin: 0 26px;            
            @media screen and (max-width: 1400px) {
              margin: 0;
              a:has(img) {
                display: none;
              }
            }
            img {
              min-height: inherit;
              aspect-ratio: 3 / 2;
              border-radius: 0.25rem;
              border: 1px solid transparent;
              transition: border-color var(--transition-base);
              &:hover {
                border-color: var(--color-gold);
              }
            }
            a {
              &:hover {
                @media screen and (min-width: 1401px) {
                  color: var(--color-gold-light);
                }                
              }
            }
          }
        }
      }

      &:has(.sub-menu) {
        @media screen and (max-width: 1400px) {
          & > a {
            &::after {
              content: "";
              display: block;
              width: 8px;
              height: 8px;
              border-bottom: 2px solid var(--color-gold);
              border-right: 2px solid var(--color-gold);
              transform: rotate(45deg);
              transition: transform var(--transition-in-out-cubic);
            }
          }    
        }
      }
    }
  }

  & .header__settings {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    align-self: flex-start;
    margin-left: auto;
    margin-top: 1.5rem;
    position: relative;
    @media screen and (max-width: 1400px) {
      display: none;
    }
    & .header__settings_signin {
      display: inline-flex;
      gap: 0.5rem;
      align-items: center;
      padding: 0.5rem;
      transition: color var(--transition-base);
      font-family: var(--font-heading);
      font-size: var(--text-sm);
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 150% */
      text-transform: uppercase;
      white-space: nowrap;
      &:hover {
        color: var(--color-blood);
      }
      .icon {
        font-size: 1.125rem;
      }
    }
    & .header__settings_lng {
      flex-shrink: 0;
      height: 38px;
      display: flex;
      align-items: center;
      &:hover {
        & .sub-menu {
          grid-template-rows: 1fr;
        }
      }
      & .sub-menu {
          position: absolute;
          top: 100%;
          right: -10px;
          display: grid;
          grid-template-rows: 0fr;          
          overflow: hidden;
          transition: grid-template-rows var(--transition-in-out-cubic);      
          padding-top: 10px;
          & .sub-menu__wrapper {
            min-height: 0;
          }      
          & .sub-menu__list {
            margin: 0;
            padding: 0;
            min-width: 185px;
            background-color: var(--color-foreground);
            border: 1px solid var(--color-gold-dark);
            border-radius: 0 0 0.5rem 0.5rem;
            position: relative;      
            & .sub-menu__item {
              & .native{
                display: none;
              }
              &:hover {
                background-color: var(--color-gold-dark);
              }
              &>a {
                display: flex;
                gap: 0.25rem;
                padding: 12px 16px;                
                transition: color var(--transition-base);
                font-family: var(--font-heading);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                text-transform: uppercase;
                white-space: nowrap;
              }
            }
          }          
        }
    }
  }

  & .header__menu-button {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 22px;
    right: 20px;
    @media screen and (max-width: 1400px) {
      display: flex;
    }
    & > span {
      width: 32px;
      height: 3px;
      background-color: var(--color-gold);
      border-radius: 3px;
      position: relative;
      transition: background-color var(--transition-in-out-cubic);
      &::before,
      &::after {
        content: "";
        display: block;
        width: 32px;
        height: 3px;
        background-color: var(--color-gold);
        border-radius: 3px;
        position: absolute;
        transition: transform var(--transition-in-out-cubic);
      }
      &::before {
        top: -8px;
      }
      &::after {
        bottom: -8px;
      }
    }
  }
}

/* Footer styles */
.footer {
  background-color: var(--color-foreground);
  border-top: 1px solid var(--color-brown);
  padding: 3.75rem 0 0.75rem 0;
  color: var(--color-gold);
  @media screen and (max-width: 768px) {    
    text-align: center;
  }
  @media screen and (max-width: 576px) {
    
  }
  & .footer__links {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
    & .footer__links_part {
      h2 {
        font-family: var(--font-heading);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        text-transform: uppercase;
        color: var(--color-white);
        margin-bottom: 1.5rem;
      }
    }
  }
  .footer__social-links {
    display: flex;
    gap: 0.5rem;
    & > a {
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 8px;
      border: 1px solid var(--color-brown);
      transition:
        background-color var(--transition-base),
        border-color var(--transition-base);
      .icon {
        width: 1.875rem;
        height: 1.25rem;
      }
      &:hover {
        background-color: var(--color-gold);
        border-color: var(--color-gold);
        color: var(--color-white);
      }
    }
  }
  .footer__menu {
    display: flex;
    gap: 2.5rem;
    padding: 0;
    @media screen and (max-width: 1200px) {
      gap: 1.5rem;
    }
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
    & .footer__menu_item {
      display: flex;
      flex-direction: column;
      min-width: 160px;
      @media screen and (max-width: 1100px) {
        min-width: 130px;
      }
      @media screen and (max-width: 768px) {
        min-width: auto;
      }
      a {
        align-self: flex-start;
        font-family: var(--font-body);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 0.375rem;
        transition: color var(--transition-base);
        @media screen and (max-width: 768px) {
          align-self: center;
        }
        &:hover {
          color: var(--color-white);
        }
      }
    }
  }
  .footer__logo {
    img {
      width: 180px;
      height: auto;
    }
  }

  & .footer__copyright {
    padding: 1.875rem 0;
    border-top: 1px solid var(--color-brown);
    margin-top: 3.75rem;
    font-family: var(--font-body);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
  }
}