<div class="armory-deck">
  <div class="container-lg">
    <div class="armory-deck__grid">
      <div class="armory-deck__content">
        <img class="armory-deck__title" src="/img/armory-deck-title.png" alt="{{armory_deck_title_alt}}">
        <img class="armory-deck__zyggy" src="/img/armory-deck-zyggy.png" alt="{{armory_deck_zyggy_alt}}">
        <div class="armory-deck__illustration--mobile">
          <img class="armory-deck__illustration_bg" src="/img/armory-deck-bg.png" alt="{{armory_deck_bg_alt}}">
          <img class="armory-deck__illustration_card" src="/img/armory-deck-card.png" alt="{{armory_deck_card_alt}}">
        </div>
        <p>{{armory_deck_description_1}}</p>
        <p>{{armory_deck_description_2}}</p>
        <a class="button-red" href="/">{{armory_deck_learn_more}}</a>
      </div>
      <div class="armory-deck__illustration">
        <img class="armory-deck__illustration_bg" src="/img/armory-deck-bg.png" alt="{{armory_deck_bg_alt}}">
        <img class="armory-deck__illustration_card" src="/img/armory-deck-card.png" alt="{{armory_deck_card_alt}}">
      </div>
    </div>
  </div>
</div>