<div class="armory-deck">
  <div class="container-lg">
    <div class="armory-deck__grid">
      <div class="armory-deck__content">
        <img class="armory-deck__title" src="/img/armory-deck-title.png" alt="Armory Deck">
        <img class="armory-deck__zyggy" src="/img/armory-deck-zyggy.png" alt="ZYGGY">
        <div class="armory-deck__illustration--mobile">
          <img src="/img/armory-deck-card.png" alt="Armory Deck">
        </div>
        <p>Storm the holo skies with visions from beyond the stars. Flash and flicker through the edges of reality as Zyggy Starlight!</p>
        <p>Armory Decks are a series of ready-to-play decks, supporting ease of access to Classic Constructed, the most popular Flesh and Blood format in the world!</p>
        <a class="button-red" href="/">LEARN MORE</a>
      </div>
      <div class="armory-deck__illustration">
        <img src="/img/armory-deck-card.png" alt="Armory Deck">
      </div>
    </div>
  </div>
</div>