<div class="credits">
  <div class="container-md">
    <h2 class="heading-h2">Credits</h2>
    <ul class="credits__list">
      <li class="credits__item">
        <b>Vision Design</b>
        <span>James White</span>
      </li>
      <li class="credits__item">
        <b>Creative Director</b>
        <span>Robbie Wen</span>
      </li>
      <li class="credits__item">
        <b>Product Design</b>
        <span>James White</span>
      </li>
      <li class="credits__item">
        <b>Development</b>
        <span>Chris Gehring, Bryan Gottlieb, Jason Chung, Rohan Khanna, Karol Ruszkiewicz, Tom Penny, Calum Gittins, Kieran McEntegart, Anthony Balmes, Jason Lai, Kevin Kim, Uhyoung Choi, Shing Tsang, Allen Lau</span>
      </li>
      <li class="credits__item">
        <b>Product Engineering</b>
        <span>Chris Gehring</span>
      </li>
      <li class="credits__item">
        <b>Syntax</b>
        <span>Joshua Scott, Niccolo Paqueo</span>
      </li>
      <li class="credits__item">
        <b>Concept Lead</b>
        <span>MJ Fetesio</span>
      </li>
      <li class="credits__item">
        <b>Asset Design</b>
        <span>MJ Fetesio, Jessketchin, Harry Wyatt</span>
      </li>
      <li class="credits__item">
        <b>Asset Rendering</b>
        <span>Jessketchin, MJ Fetesio</span>
      </li>
      <li class="credits__item">
        <b>Packaging Art</b>
        <span>Ismatulloh, Jessada Sutthi, Nathaniel Himawan, Asur Misoa</span>
      </li>
      <li class="credits__item">
        <b>Lead Art Director</b>
        <span>Robbie Wen, Sam Yang</span>
      </li>
      <li class="credits__item">
        <b>Lead Technical Advisor</b>
        <span>Sam Yang</span>
      </li>
      <li class="credits__item">
        <b>Technical Advisor</b>
        <span>Sebastian Giacobino, Henrique Lindner, MJ Fetesio</span>
      </li>
      <li class="credits__item">
        <b>Manufacturing Manager</b>
        <span>David Greig</span>
      </li>
      <li class="credits__item">
        <b>Production Manager</b>
        <span>Nana Friend</span>
      </li>
      <li class="credits__item">
        <b>Post-Production Assets</b>
        <span>Zephir Delamore, Nana Friend</span>
      </li>
      <li class="credits__item">
        <b>Foiling</b>
        <span>Kathleen Fetesio</span>
      </li>
      <li class="credits__item">
        <b>Foiling Assistant</b>
        <span>Ben Delamore, Le Wang, Ryan Deed, Sharlyn Artieda, Sabrina Li</span>
      </li>
      <li class="credits__item">
        <b>Foiling Contribution</b>
        <span>MJ Fetesio, Nikolay Moskvin, Henrique Lindner, Sebastian Giacobino, Jessica Nguyen, Sam Yang</span>
      </li>
      <li class="credits__item">
        <b>Narrative Design</b>
        <span>Edwin McRae, Emanuel Garcia</span>
      </li>
      <li class="credits__item">
        <b>Narrative Assets</b>
        <span>Rachel Rees, Corey J. White</span>
      </li>
      <li class="credits__item">
        <b>Flavor Text</b>
        <span>Edwin McRae, Emanuel Garcia</span>
      </li>
      <li class="credits__item">
        <b>Localization Oversight</b>
        <span>Laura Lobato</span>
      </li>
      <li class="credits__item">
        <b>Localization Management</b>
        <span>Guillermo Pedernal, Benjamin Listen</span>
      </li>
      <li class="credits__item">
        <b>French Localization</b>
        <span>Bruno Billion, Gaétan Bovey, Élise Bouaziz</span>
      </li>
      <li class="credits__item">
        <b>Japanese Localization</b>
        <span>Yoshiya Shindo, Ryu K</span>
      </li>
    </ul>
  </div>
</div>
