<div class="credits">
  <div class="container-md">
    <h2 class="heading-h2">{{credits_title}}</h2>
    <ul class="credits__list">
      <li class="credits__item">
        <b>{{credits_vision_design}}</b>
        <span>{{credits_vision_design_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_creative_director}}</b>
        <span>{{credits_creative_director_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_product_design}}</b>
        <span>{{credits_product_design_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_development}}</b>
        <span>{{credits_development_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_product_engineering}}</b>
        <span>{{credits_product_engineering_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_syntax}}</b>
        <span>{{credits_syntax_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_concept_lead}}</b>
        <span>{{credits_concept_lead_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_asset_design}}</b>
        <span>{{credits_asset_design_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_asset_rendering}}</b>
        <span>{{credits_asset_rendering_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_packaging_art}}</b>
        <span>{{credits_packaging_art_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_lead_art_director}}</b>
        <span>{{credits_lead_art_director_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_lead_technical_advisor}}</b>
        <span>{{credits_lead_technical_advisor_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_technical_advisor}}</b>
        <span>{{credits_technical_advisor_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_manufacturing_manager}}</b>
        <span>{{credits_manufacturing_manager_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_production_manager}}</b>
        <span>{{credits_production_manager_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_post_production_assets}}</b>
        <span>{{credits_post_production_assets_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_foiling}}</b>
        <span>{{credits_foiling_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_foiling_assistant}}</b>
        <span>{{credits_foiling_assistant_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_foiling_contribution}}</b>
        <span>{{credits_foiling_contribution_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_narrative_design}}</b>
        <span>{{credits_narrative_design_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_narrative_assets}}</b>
        <span>{{credits_narrative_assets_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_flavor_text}}</b>
        <span>{{credits_flavor_text_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_localization_oversight}}</b>
        <span>{{credits_localization_oversight_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_localization_management}}</b>
        <span>{{credits_localization_management_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_french_localization}}</b>
        <span>{{credits_french_localization_names}}</span>
      </li>
      <li class="credits__item">
        <b>{{credits_japanese_localization}}</b>
        <span>{{credits_japanese_localization_names}}</span>
      </li>
    </ul>
  </div>
</div>
