<header class="header">
  <div class="container-lg">
    <nav id="header-navigation" class="header__grid">
      <div class="header__logo">
        <a href="/">
          <img src="/img/main-logo.png" alt="">
        </a>
      </div>
      <ul class="header__navigation">
        <li class="header__navigation_item">
          <a role="button" aria-haspopup="true" aria-expanded="false">Play</a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a class="mega-menu-link" href="http://fabtcg.local/learn-to-play/">Learn</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="http://fabtcg.local/gameplay-formats/">Formats</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="http://fabtcg.local/locator/">Event and Store Locator</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="http://fabtcg.local/rules-and-policy-center/">Rules and Policy</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="header__navigation_item"><a href="https://fabtcg.com/articles/">Articles</a></li>
        <li class="header__navigation_item">
          <a role="button" aria-haspopup="true">Products</a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/product-releases/">Product Releases</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/collectors-centre/">Collector's Centre</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="header__navigation_item">
          <a role="button" aria-haspopup="true">Heroes</a>
          <div class="sub-menu hero-sub-menu">
            <div class="sub-menu__wrapper">
              <div class="sub-menu__list">
                <ul>
                  <li class="sub-menu__item">
                    <a href="https://fabtcg.com/hero-selection/">
                      <img src="https://cdn.fabtcg.com/uploads/2025/09/Heroes_3-2.png" class="" alt=""
                        srcset="https://cdn.fabtcg.com/uploads/2025/09/Heroes_3-2.png 800w, https://cdn.fabtcg.com/uploads/2025/09/Heroes_3-2-300x200.png 300w, https://cdn.fabtcg.com/uploads/2025/09/Heroes_3-2-768x512.png 768w, https://cdn.fabtcg.com/uploads/2025/09/Heroes_3-2-720x480.png 720w"
                        sizes="(max-width: 800px) 100vw, 800px" />
                    </a>
                    <a class="mega-menu-link" href="https://fabtcg.com/hero-selection/">Hero Finder</a>
                  </li>
                  <li class="sub-menu__item">
                    <a href="https://fabtcg.com/world-of-rathe/">
                      <img src="https://cdn.fabtcg.com/uploads/2025/09/MAP_3-2.png" class="" alt=""
                        srcset="https://cdn.fabtcg.com/uploads/2025/09/MAP_3-2.png 800w, https://cdn.fabtcg.com/uploads/2025/09/MAP_3-2-300x200.png 300w, https://cdn.fabtcg.com/uploads/2025/09/MAP_3-2-768x512.png 768w, https://cdn.fabtcg.com/uploads/2025/09/MAP_3-2-720x480.png 720w"
                        sizes="(max-width: 800px) 100vw, 800px" />
                    </a>
                    <a class="mega-menu-link" href="https://fabtcg.com/world-of-rathe/">World of Rathe</a>
                  </li>
                  <li class="sub-menu__item">
                    <a href="https://fabtcg.com/stories/">
                      <img src="https://cdn.fabtcg.com/uploads/2025/09/STORIES_3-2.png" class="" alt=""
                        srcset="https://cdn.fabtcg.com/uploads/2025/09/STORIES_3-2.png 800w, https://cdn.fabtcg.com/uploads/2025/09/STORIES_3-2-300x200.png 300w, https://cdn.fabtcg.com/uploads/2025/09/STORIES_3-2-768x512.png 768w, https://cdn.fabtcg.com/uploads/2025/09/STORIES_3-2-720x480.png 720w"
                        sizes="(max-width: 800px) 100vw, 800px" />
                    </a>
                    <a class="mega-menu-link" href="https://fabtcg.com/stories/">Stories</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>          
        </li>
        <li class="header__navigation_item">
          <a role="button" aria-haspopup="true">Events</a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/organised-play/">World Tour</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/conventions/">Conventions</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/decklists/">Decklists</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/leaderboards-2026/">Leaderboards</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/locator/?tab=event&amp;privateMode=false">Event Locator</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/living-legend/">Living Legend</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/roll-of-honor/">Roll of Honor</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/judges/">Judges</a>
                </li>
              </ul>
            </div>
          </div>          
        </li>
        <li class="header__navigation_item">
          <a role="button" aria-haspopup="true">Retailers</a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/retailer-news/">Retailer News</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/resources/retailers/">Retailer Quickstart</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/resources/marketing-assets/">Marketing Assets</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://gem.fabtcg.com/">Tournament Software</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="header__navigation_item"><a href="https://cardvault.fabtcg.com/">Card Vault</a></li>
        <li class="header__navigation_item"><a href="https://fabtcg.com/locator/">Locator</a></li>
        <li class="header__navigation_item settings-mobile"><a href="https://gem.fabtcg.com/?next=/profile/player/">GEM Login</a></li>
        <li class="header__navigation_item lng-mobile">
          <a role="button" aria-haspopup="true">
            <span>
              {{#if isJa}}
              <img src="https://fabtcg.com/wp-content/plugins/wpml-multilingual-cms/res/flags/ja.svg" alt="Japanese">
              日本語
              {{else}}
              <img src="/img/en.svg" alt="English">
              English
              {{/if}}
            </span>
          </a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  {{#if isJa}}
                  <a href="/" title="Switch to English" aria-label="Switch to English" role="menuitem">
                    <img src="/img/en.svg" alt="English">
                    <span>English</span>
                  </a>
                  {{else}}
                  <a href="/ja/" title="Switch to Japanese(日本語)" aria-label="Switch to Japanese(日本語)"
                    role="menuitem">                    
                    <span class="native" lang="ja">日本語</span>
                    <span>
                      (Japanese)
                    </span>
                  </a>
                  {{/if}}
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div class="header__settings">
        <a href="https://gem.fabtcg.com/?next=/profile/player/" class="header__settings_signin">
          <span class="icon icon-person"></span>
          GEM Login
        </a>
        <div class="header__settings_lng">
          <a href="">
            {{#if isJa}}
            <img src="https://fabtcg.com/wp-content/plugins/wpml-multilingual-cms/res/flags/ja.svg" alt="Japanese">
            {{else}}
            <img src="/img/en.svg" alt="English">
            {{/if}}
          </a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  {{#if isJa}}
                  <a href="/" title="Switch to English" aria-label="Switch to English" role="menuitem">
                    <img src="/img/en.svg" alt="English">
                    <span>English</span>
                  </a>
                  {{else}}
                  <a href="/ja/" title="Switch to Japanese(日本語)" aria-label="Switch to Japanese(日本語)" role="menuitem">
                    <img class="" src="https://fabtcg.com/wp-content/plugins/wpml-multilingual-cms/res/flags/ja.svg" alt="" />
                    <span class="native" lang="ja">日本語</span>                    
                    <span>
                      (Japanese)
                    </span>                    
                  </a>
                  {{/if}}
                </li>                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <button id="header-navigation-toggle-button" class="header__menu-button">
        <span></span>
      </button>
    </nav>
  </div>
</header>