<header class="header">
  <div class="container-lg">
    <nav id="header-navigation" class="header__grid">
      <div class="header__logo">
        <a href="/">
          <img src="/img/main-logo.png" alt="">
        </a>
      </div>
      <ul class="header__navigation">
        <li class="header__navigation_item">
          <a role="button" aria-haspopup="true" aria-expanded="false">{{header_play}}</a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a class="mega-menu-link" href="http://fabtcg.com/learn-to-play/">{{header_play_learn}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="http://fabtcg.com/gameplay-formats/">{{header_play_formats}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="http://fabtcg.com/locator/">{{header_play_event_store_locator}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="http://fabtcg.com/rules-and-policy-center/">{{header_play_rules_policy}}</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="header__navigation_item"><a href="https://fabtcg.com/articles/">{{header_articles}}</a></li>
        <li class="header__navigation_item">
          <a role="button" aria-haspopup="true">{{header_products}}</a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/product-releases/">{{header_products_product_releases}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/collectors-centre/">{{header_products_collectors_centre}}</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="header__navigation_item">
          <a role="button" aria-haspopup="true">{{header_heroes}}</a>
          <div class="sub-menu hero-sub-menu">
            <div class="sub-menu__wrapper">
              <div class="sub-menu__list">
                <ul>
                  <li class="sub-menu__item">
                    <a href="https://fabtcg.com/hero-selection/">
                      <img src="https://cdn.fabtcg.com/uploads/2025/09/Heroes_3-2.png" class="" alt=""
                        srcset="https://cdn.fabtcg.com/uploads/2025/09/Heroes_3-2.png 800w, https://cdn.fabtcg.com/uploads/2025/09/Heroes_3-2-300x200.png 300w, https://cdn.fabtcg.com/uploads/2025/09/Heroes_3-2-768x512.png 768w, https://cdn.fabtcg.com/uploads/2025/09/Heroes_3-2-720x480.png 720w"
                        sizes="(max-width: 800px) 100vw, 800px" />
                    </a>
                    <a class="mega-menu-link" href="https://fabtcg.com/hero-selection/">{{header_heroes_hero_finder}}</a>
                  </li>
                  <li class="sub-menu__item">
                    <a href="https://fabtcg.com/world-of-rathe/">
                      <img src="https://cdn.fabtcg.com/uploads/2025/09/MAP_3-2.png" class="" alt=""
                        srcset="https://cdn.fabtcg.com/uploads/2025/09/MAP_3-2.png 800w, https://cdn.fabtcg.com/uploads/2025/09/MAP_3-2-300x200.png 300w, https://cdn.fabtcg.com/uploads/2025/09/MAP_3-2-768x512.png 768w, https://cdn.fabtcg.com/uploads/2025/09/MAP_3-2-720x480.png 720w"
                        sizes="(max-width: 800px) 100vw, 800px" />
                    </a>
                    <a class="mega-menu-link" href="https://fabtcg.com/world-of-rathe/">{{header_heroes_world_of_rathe}}</a>
                  </li>
                  <li class="sub-menu__item">
                    <a href="https://fabtcg.com/stories/">
                      <img src="https://cdn.fabtcg.com/uploads/2025/09/STORIES_3-2.png" class="" alt=""
                        srcset="https://cdn.fabtcg.com/uploads/2025/09/STORIES_3-2.png 800w, https://cdn.fabtcg.com/uploads/2025/09/STORIES_3-2-300x200.png 300w, https://cdn.fabtcg.com/uploads/2025/09/STORIES_3-2-768x512.png 768w, https://cdn.fabtcg.com/uploads/2025/09/STORIES_3-2-720x480.png 720w"
                        sizes="(max-width: 800px) 100vw, 800px" />
                    </a>
                    <a class="mega-menu-link" href="https://fabtcg.com/stories/">{{header_heroes_stories}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>          
        </li>
        <li class="header__navigation_item">
          <a role="button" aria-haspopup="true">{{header_events}}</a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/organised-play/">{{header_events_world_tour}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/conventions/">{{header_events_conventions}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/decklists/">{{header_events_decklists}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/leaderboards-2026/">{{header_events_leaderboards}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/locator/?tab=event&amp;privateMode=false">{{header_events_event_locator}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/living-legend/">{{header_events_living_legend}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/roll-of-honor/">{{header_events_roll_of_honor}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/judges/">{{header_events_judges}}</a>
                </li>
              </ul>
            </div>
          </div>          
        </li>
        <li class="header__navigation_item">
          <a role="button" aria-haspopup="true">{{header_retailers}}</a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/retailer-news/">{{header_retailers_retailer_news}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/resources/retailers/">{{header_retailers_retailer_quickstart}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://fabtcg.com/resources/marketing-assets/">{{header_retailers_marketing_assets}}</a>
                </li>
                <li class="sub-menu__item">
                  <a class="sub-menu__link" href="https://gem.fabtcg.com/">{{header_retailers_tournament_software}}</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="header__navigation_item"><a href="https://cardvault.fabtcg.com/">{{header_card_vault}}</a></li>
        <li class="header__navigation_item"><a href="https://fabtcg.com/locator/">{{header_locator}}</a></li>
        <li class="header__navigation_item settings-mobile"><a href="https://gem.fabtcg.com/?next=/profile/player/">{{header_gem_login}}</a></li>
        <li class="header__navigation_item lng-mobile">
          <a role="button" aria-haspopup="true">
            <span>
              {{#if isJa}}
              <img src="https://fabtcg.com/wp-content/plugins/wpml-multilingual-cms/res/flags/ja.svg" alt="Japanese">
              日本語
              {{else}}
              <img src="/img/en.svg" alt="{{header_lang_en_alt}}">
              {{header_lang_current}}
              {{/if}}
            </span>
          </a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  {{#if isJa}}
                  <a href="/" title="Switch to English" aria-label="Switch to English" role="menuitem">
                    <img src="/img/en.svg" alt="{{header_lang_en_alt}}">
                    <span>{{header_lang_en_label}}</span>
                  </a>
                  {{else}}
                  <a href="/ja/" title="Switch to Japanese(日本語)" aria-label="Switch to Japanese(日本語)" role="menuitem">
                    <img src="https://fabtcg.com/wp-content/plugins/wpml-multilingual-cms/res/flags/ja.svg" alt="Japanese">
                    <span>
                      {{header_lang_label_ja}}
                    </span>
                  </a>
                  {{/if}}
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div class="header__settings">
        <a href="https://gem.fabtcg.com/?next=/profile/player/" class="header__settings_signin">
          <span class="icon icon-person"></span>
          {{header_settings_gem_login}}
        </a>
        <div class="header__settings_lng">
          <a href="">
            {{#if isJa}}
            <img src="https://fabtcg.com/wp-content/plugins/wpml-multilingual-cms/res/flags/ja.svg" alt="Japanese">
            {{else}}
            <img src="/img/en.svg" alt="{{header_lang_en_alt}}">
            {{/if}}
          </a>
          <div class="sub-menu">
            <div class="sub-menu__wrapper">
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  {{#if isJa}}
                  <a href="/" title="Switch to English" aria-label="Switch to English" role="menuitem">
                    <img src="/img/en.svg" alt="English">
                    <span>English</span>
                  </a>
                  {{else}}
                  <a href="/ja/" title="{{header_lang_switch_title}}" aria-label="{{header_lang_switch_aria}}" role="menuitem">
                    <img class="" src="https://fabtcg.com/wp-content/plugins/wpml-multilingual-cms/res/flags/ja.svg" alt="" />
                    <span class="native" lang="ja">{{header_lang_native_ja}}</span>                    
                    <span>
                      {{header_lang_label_ja}}
                    </span>                    
                  </a>
                  {{/if}}
                </li>                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <button id="header-navigation-toggle-button" class="header__menu-button">
        <span></span>
      </button>
    </nav>
  </div>
</header>
