<div class="heroes">
  <div class="container-lg">
    <h2 class="heroes__title">{{heroes_title}}</h2>
    <ul class="heroes__list" id="heroes-list">
      <li class="heroes__item" data-name="aurora">
        <div class="heroes__item_wrapper">
          <div class="heroes__item_content">
            <h3 class="heading-h2">{{hero_aurora_name}}</h3>
            <div class="subheader-lg">{{hero_aurora_subtitle}}</div>
            <p>{{hero_aurora_description}}</p>
          </div>
          <div class="heroes__item_illustration">
            <div class="heroes__item_card">
              <img class="heroes__item_card_head" src="/img/cards/aurora/aurora-head.png" alt="{{hero_aurora_name}}">
              <img class="heroes__item_card_cover" src="/img/cards/aurora/aurora-cover.png" alt="{{hero_aurora_name}}">
              <img class="heroes__item_card_description" src="/img/cards/aurora/aurora-description.png" alt="{{hero_aurora_name}}">
            </div>
          </div>          
          <div class="heroes__item_mobile-description">
          <div>
              <div class="heroes__item_mobile-description_content">
                <p>{{hero_aurora_description}}</p>
              </div>
            </div>
          </div>
          <button class="heroes__item_button">
            <img src="/icons/icon-close.svg" alt="{{heroes_close_alt}}">
          </button>
        </div>
      </li>
      <li class="heroes__item label-new" data-name="zyggy">
        <div class="heroes__item_wrapper">
          <div class="heroes__item_content">
            <h3 class="heading-h2">{{hero_zyggy_name}} {{hero_zyggy_subtitle}}</h3>
            <div class="subheader-lg"></div>
            <p>{{hero_zyggy_description}}</p>
          </div>
          <div class="heroes__item_illustration">
            <div class="heroes__item_card">
              <img class="heroes__item_card_head" src="/img/cards/zyggy/zyggy-head.png" alt="{{hero_zyggy_name}}">
              <img class="heroes__item_card_cover" src="/img/cards/zyggy/zyggy-cover.png" alt="{{hero_zyggy_name}}">
              <img class="heroes__item_card_description" src="/img/cards/zyggy/zyggy-description.png" alt="{{hero_zyggy_name}}">
            </div>
          </div>          
          <div class="heroes__item_mobile-description">
            <div>
              <div class="heroes__item_mobile-description_content">
                <p>{{hero_zyggy_description}}</p>
              </div>
            </div>
          </div>
          <button class="heroes__item_button">
            <img src="/icons/icon-close.svg" alt="{{heroes_close_alt}}">
          </button>
        </div>
      </li>
      <li class="heroes__item" data-name="oscilio">
        <div class="heroes__item_wrapper">
          <div class="heroes__item_content">
            <h3 class="heading-h2">{{hero_oscilio_name}}</h3>
            <div class="subheader-lg">{{hero_oscilio_subtitle}}</div>
            <p>{{hero_oscilio_description}}</p>
          </div>
          <div class="heroes__item_illustration">
            <div class="heroes__item_card">
              <img class="heroes__item_card_head" src="/img/cards/oscilio/oscilio-head.png" alt="{{hero_oscilio_name}}">
              <img class="heroes__item_card_cover" src="/img/cards/oscilio/oscilio-cover.png" alt="{{hero_oscilio_name}}">
              <img class="heroes__item_card_description" src="/img/cards/oscilio/oscilio-description.png"
                alt="{{hero_oscilio_name}}">
            </div>
          </div>          
          <div class="heroes__item_mobile-description">
            <div>
              <div class="heroes__item_mobile-description_content">
                <p>{{hero_oscilio_description}}</p>
              </div>
            </div>
          </div>
          <button class="heroes__item_button">
            <img src="/icons/icon-close.svg" alt="{{heroes_close_alt}}">
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
