<div class="hero">
  <div class="hero__background">
    <video playsinline aria-label="Challenge the Omens…" muted loop autoplay>
      <source src="/video/bg-hero.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container-full">
    <div class="hero__content">
      <div class="hero__title">
        <img class="hero__title_image" src="/img/hero-title.png" alt="{{ hero_text }}">        
        <!-- {{> hero-popup }} -->
      </div>
      <div class="hero__date">
        <div class="line line-left"></div>
        <div class="hero__date_center subheader">
          <span>{{ hero_text }}</span>
          <span class="square"></span>
          <span>{{ hero_date }}</span>
        </div>
        <div class="line line-right"></div>
      </div>      
    </div>
    <div class="hero_cta">
      <button class="button button-filled">{{ hero_button_text }}</button>
    </div>
  </div>
</div>
