<div class="hero">
  <div class="container-full">
    <div class="hero__content">
      <div class="hero__title">
        <img class="hero__title_image" src="/img/hero-title.png" alt="{{ hero_text }}">
        {{> hero-popup }}
      </div>
      <div class="hero__date">
        <div class="line line-left"></div>
        <div class="hero__date_center subheader">
          <span>{{ hero_text }}</span>
          <span class="square"></span>
          <span>{{ hero_date }}</span>
        </div>
        <div class="line line-right"></div>
      </div>      
    </div>
    <div class="hero_cta">
      <button class="button button-filled">{{ hero_button_text }}</button>
    </div>
  </div>
</div>