<div class="lightning-flow">
  <div class="container-full">
    <div class="lightning-flow__content">
      <h2 class="display">{{lightning_flow_title}}</h2>

      <div class="lightning-flow__description">
        {{lightning_flow_description_prefix}}
        <span class="light">{{lightning_flow_highlight}}</span>,
        {{lightning_flow_description_suffix}}
      </div>
    </div>
    <div id="lightning-flow-grid-wrapper">
      <div id="lightning-flow-grid" class="lightning-flow__grid">
        <img src="/img/cards/card-omens-of-arcana.png" alt="{{lightning_flow_card_omens_alt}}">
        <img src="/img/cards/card-lighting-flow.png" alt="{{lightning_flow_card_flow_alt}}">
        <img src="/img/cards/card-loighting-intant.png" alt="{{lightning_flow_card_instant_alt}}">
      </div>
    </div>    
  </div>
</div>
