<div class="lightning-flow">
  <div class="container-full">
    <div class="lightning-flow__content">
      <h2 class="display">Ride the Lightning</h2>
      <div class="lightning-flow__description">Tap into the raw power of the <span class="light">Lightning Flow</span>, manipulating it in unique and exciting ways. Booster Draft and Sealed Deck gameplay is utterly electrifying, challenging you to create and destroy Lightning Flow tokens in order to outpace the opponent in a battle of storms.</div>
    </div>    
    <div class="lightning-flow__grid">
      <img src="/img/cards/card-omens-of-arcana.png" alt="Omens of Arcana">
      <img src="/img/cards/card-lighting-flow.png" alt="Lightning Flow">
      <img src="/img/cards/card-loighting-intant.png" alt="Lightning Instant">
    </div>
  </div>  
</div>