<div class="premiere">
  <div class="container-lg">
    <div class="premiere__banner">
      <img class="premiere__image" src="/img/prague-banner.jpg" alt="{{premiere_title_alt}}">
      <img class="premiere__image--mobile" src="/img/prague-banner-mobile.jpg" alt="{{premiere_title_alt}}">
      <!-- <h2 class="heading-h2">MAY 23</h2>
      <img class="premiere__image--bottom" src="/img/prague.png" alt="Prague"> -->
    </div>
    <div class="premiere__content">
      <p class="blue-light">{{premiere_description}}</p>
      <p class="subheader-lg">{{premiere_prize}}</p>
      <!-- <button class="button-red">{{premiere_tickets}}</button> -->
    </div>
  </div>
</div>
