<div class="product-overview">
  <div class="container-md">
    <h2 class="heading-h2 product-overview__heading">Product Overview</h2>
    <div class="product-overview__grid">
      <div class="product-overview__details">
        <p><b>Release Date:</b> June 5, 2026</p>
        <p><b>Set Code:</b> OMN</p>
        <p><b>Product Type:</b> Standalone Booster Pack (designed for booster draft, sealed deck, and constructed play)</p>
        <p><b>Available Languages:</b> EN, FR</p>
        <p><b>Cards in Set:</b> 251</p>
        <p><b>MSRP per Display:</b> $129.90 USD / €124.90 EUR / $174.90 CAD / $189.90 AUD / $199.90 NZD / ¥18,480 JPY</p>
        <p><b>UPP – Unilateral Price Policy (USA and Canada only):</b> $104.90 USD / $144.90 CAD (UPP policy here)</p>
      </div>
      <div class="product-overview__info">
        <section>
          <h5><b>Booster Pack:</b> 09 4210 37055169</h5>
          <ul>
            <li>Booster Pack: 09 4210 37055169</li>
            <li>Booster Display (24 packs): 09 4210 37055190</li>
            <li>Booster Case (4 displays): 09 4210 37055275</li>
          </ul>
        </section>
        <section>
          <h5><b>SKU:</b> FAB2607</h5>
        </section>
        <section>
          <h5><b>Product Configuration:</b></h5>
          <ul>
            <li>251 cards in set</li>
            <li>16 cards per pack</li>
            <li>24 packs per display</li>
            <li>4 displays per case</li>
          </ul>
        </section>
        <section>
          <h5><b>Set Composition:</b></h5>
          <ul>
            <li>1 Fabled</li>
            <li>12 Marvel</li>
            <li>5 Legendary</li>
            <li>60 Rare</li>
            <li>134 Common</li>
            <li>14 Basic</li>
          </ul>
        </section>
        <section>
          <h5><b>Rarity Distribution:</b></h5>
          <ul>
            <li>Cold Foil – 1 per 24 packs (replaces a Basic)</li>
            <li>Common – 11 per pack</li>
            <li>Rare or Majestic – 2 per pack (1 Rare + 1 Rare or Majestic)</li>
            <li>Rainbow Foil – 1 per pack</li>
            <li>Basic – 2 per pack (1 Basic + 1 Basic, Expansion Slot, Legendary, Marvel, or Fabled)</li>
          </ul>
        </section>
        <section>
          Stated card drop frequencies are an approximate average across the entire production of a product, and are not
          guaranteed to exist in any given pack, display, or case of product. Due to variations that may occur in the
          manufacturing process, final distributions of cards may differ from those stated above.
        </section>
      </div>
    </div>
  </div>
</div>
