<div class="product-overview">
  <div class="container-md">
    <h2 class="heading-h2 product-overview__heading">{{product_overview_title}}</h2>

    <div class="product-overview__grid">

    <div class="product-overview__details">
      <p><b>{{product_overview_release_date}}</b> {{product_overview_release_date_value}}</p>
      <p><b>{{product_overview_set_code}}</b> {{product_overview_set_code_value}}</p>
      <p><b>{{product_overview_product_type}}</b> {{product_overview_product_type_value}}</p>
      <p><b>{{product_overview_languages}}</b> {{product_overview_languages_value}}</p>
      <p><b>{{product_overview_cards_in_set}}</b> {{product_overview_cards_in_set_value}}</p>
      <p><b>{{product_overview_msrp}}</b> {{product_overview_msrp_value}}</p>
      <p><b>{{product_overview_upp}}</b> {{product_overview_upp_value}} ({{product_overview_upp_policy_link}})</p>
    </div>

      <div class="product-overview__info">

        <section>
          <h5><b>{{product_overview_booster_pack}}</b> 09 4210 37055169</h5>
          <ul>
            <li>{{product_overview_booster_pack}} 09 4210 37055169</li>
            <li>{{product_overview_booster_display}} 09 4210 37055190</li>
            <li>{{product_overview_booster_case}} 09 4210 37055275</li>
          </ul>
        </section>

        <section>
          <h5><b>{{product_overview_sku}}</b> FAB2607</h5>
        </section>

        <section>
          <h5><b>{{product_overview_configuration}}</b></h5>
          <ul>
            <li>{{product_overview_config_cards}}</li>
            <li>{{product_overview_config_cards_per_pack}}</li>
            <li>{{product_overview_config_packs_per_display}}</li>
            <li>{{product_overview_config_displays_per_case}}</li>
          </ul>
        </section>

        <section>
          <h5><b>{{product_overview_set_composition}}</b></h5>
          <ul>
            <li>1 {{product_overview_fabled}}</li>
            <li>12 {{product_overview_marvel}}</li>
            <li>5 {{product_overview_legendary}}</li>
            <li>60 {{product_overview_rare}}</li>
            <li>134 {{product_overview_common}}</li>
            <li>14 {{product_overview_basic}}</li>
          </ul>
        </section>

        <section>
          <h5><b>{{product_overview_rarity_distribution}}</b></h5>
          <ul>
            <li>{{product_overview_distribution_cold_foil}}</li>
            <li>{{product_overview_distribution_common}}</li>
            <li>{{product_overview_distribution_rare}}</li>
            <li>{{product_overview_distribution_rainbow}}</li>
            <li>{{product_overview_distribution_basic}}</li>
          </ul>
        </section>

        <section>
          {{product_overview_disclaimer}}
        </section>

      </div>
    </div>
  </div>
</div>
