<div class="product-promo">
  <div class="container-lg">
    <div class="product-promo__background">      
      <video playsinline aria-label="{{product_promo_video_label}}" muted loop autoplay>
        <source src="/video/bg-promo.mp4" type="video/mp4">
      </video>
    </div>

    <div class="product-promo__title">
      <div class="subheader">{{product_promo_subtitle}}</div>
      <h2 class="display">{{product_promo_title}}</h2>
    </div>

    <div class="product-promo__illustration">
      <img src="/img/en_omn_display_aurora 1.png" alt="{{product_promo_image_alt}}">      
    </div>

    <div class="product-promo__description">
      <p>{{product_promo_description_1}}</p>
      <p class="blue-light">{{product_promo_description_2}}</p>

      <div class="divider-horizontal"></div>
    </div>
  </div>
</div>
