<div class="product-promo">
  <div class="container-lg">
    <div class="product-promo__background">      
      <video playsinline aria-label="Challenge the Omens…" muted loop autoplay>
        <source src="/video/bg-promo.mp4" type="video/mp4">
      </video>
    </div>
    <div class="product-promo__title">
      <div class="subheader">Challenge the Omens…</div>
      <h2 class="display">Ride the Lightning!</h2>
    </div>
    <div class="product-promo__illustration">
      <img src="/img/en_omn_display_aurora 1.png" alt="Challenge the Omens…">      
    </div>
    <div class="product-promo__description">
      <p>Ominous symbols illuminate the skies across Rathe, ancient omens
        foreboding a dark fate not seen since the
        Third Age.</p>
      <p class="blue-light">Aurora and Oscilio journey to the Auric Keep within the Nebulus Rift to enlist the aid of
        Zyggy Starlight.
        Together, they must harness the power of the Lightning Flow, uncover the secrets of the Third Age, and challenge
        the approaching threat before it corrupts all of Rathe.</p>

      <div class="divider-horizontal"></div>
    </div>
  </div>
</div>