<div class="resources">
  <div class="container-lg">
    <div class="divider-horizontal"></div>

    <h2 class="heading-h2">{{resources_heading}}</h2>

    <div class="resources__list">
      <a href="/" class="button button-outline">{{resources_marketing_assets}}</a>
      <a href="/" class="button button-outline">{{resources_product_sheet_en}}</a>
      <a href="/" class="button button-outline">{{resources_product_sheet_fr}}</a>
      <a href="/" class="button button-outline">{{resources_product_sheet_jp}}</a>
    </div>

    <div class="divider-horizontal"></div>
  </div>
</div>
