<div class="resources">
  <div class="container-lg">
    <div class="divider-horizontal"></div>
    <h2 class="heading-h2">Resources</h2>
    <div class="resources__list">
      <a href="/" class="button button-outline">MARKETING ASSETS</a>
      <a href="/" class="button button-outline">PRODUCT SHEET (EN)</a>
      <a href="/" class="button button-outline">PRODUCT SHEET (FR)</a>
      <a href="/" class="button button-outline">PRODUCT SHEET (JP)</a>
    </div>
    <div class="divider-horizontal"></div>

  </div>
</div>