<div class="store">
  <div class="container-lg">
    <div class="store__cards">
      <div class="store__card">
        <h4 class="subheader-lg">PRE-RELEASE STARTS</h4>
        <h3 class="heading-h2">may 30, 2026</h3>
        <img src="/img/store-promo-1.png" alt="PRE-RELEASE STARTS">
      </div>
      <div class="store__card">
        <h4 class="subheader-lg">In Stores</h4>
        <h3 class="heading-h2">6 June 2026</h3>
        <img src="/img/store-promo-2.png" alt="In Stores">
      </div>
    </div>
  </div>
</div>