<div class="store">
  <div class="container-lg">
    <div class="store__cards">

      <div class="store__card">
        <h4 class="subheader-lg">{{store_prerelease_label}}</h4>
        <h3 class="heading-h2">{{store_prerelease_date}}</h3>
        <img class="store__card_bg" src="/img/bg-store-card-1.jpg" alt="{{store_instores_label}}">
        <img class="store__card_image" src="/img/store-promo-1.png" alt="{{store_prerelease_label}}">
      </div>

      <div class="store__card">
        <h4 class="subheader-lg">{{store_instores_label}}</h4>
        <h3 class="heading-h2">{{store_instores_date}}</h3>
        <img class="store__card_bg" src="/img/bg-store-card-2.jpg" alt="{{store_instores_label}}">
        <img  class="store__card_image" src="/img/store-promo-2.png" alt="{{store_instores_label}}">
      </div>

    </div>
  </div>
</div>
