<!-- ========================================
                  VIDEO SECTION
       ======================================== -->
<div class="trailer">
  <div id="video-player" class="trailer__player">
    <div class="preview-video_wrapper">
      <div id="compendium-rathe-video-preview" class="preview-video_embed">
        <!-- <video autoplay muted loop playsinline aria-label="Compendium of Rathe product trailer preview">
          <source src="https://cdn.fabtcg.com/uploads/2026/02/compendium-of-rathe-trailer.mp4" type="video/mp4">
        </video> -->
        <img src="/img/trailer-preview.jpg" alt="Omens of the third age">
      </div>
      <div class="body-button compendium__video_controls">
        <span>VIEW</span>
        <button class="trailer__video_button" aria-label="Play full trailer video">
          <div class="circle"></div>
          <div class="triangle"></div>
        </button>
        <span>TRAILER</span>
      </div>
    </div>
    <div id="compendium-rathe-video-wrapper" class="player-video_wrapper">
      <div class="player-video_embed">
        <video id="compendium-rathe-video-trailer" playsinline aria-label="Compendium of Rathe product trailer">
          <source
            src="https://general-client-assets.sfo3.cdn.digitaloceanspaces.com/fabtcg/Compendium%20of%20Rathe%20Trailer%20%20Flesh%20and%20Blood%20TCG%20-%20Flesh%20and%20Blood%20TCG%20(1080p,%20h264).mp4"
            type="video/mp4">
        </video>
      </div>
      <div class="player-video_controls">
        <div class="controls__buttons">
          <button id="compendium-rathe-video-play-pause" class="controls__buttons--play-pause played"
            aria-label="Play or pause video">
            <span class="icon icon-play"></span>
            <span class="icon icon-pause"></span>
          </button>
          <button id="compendium-rathe-video-sound" class="controls__buttons--sound unmuted" aria-label="Toggle sound">
            <span class="icon icon-sound-on"></span>
            <span class="icon icon-sound-off"></span>
          </button>
        </div>
        <div class="controls__time" id="compendium-rathe-video-time">00:00</div>
        <div class="controls__progress">
          <div class="controls__progress-bar" id="compendium-rathe-video-progress"></div>
        </div>
      </div>
    </div>
  </div>
</div>